# Static code analysis

## Tool-based code analysis

- SonarQube

Open questions:
- What rules should apply in SonarQube? E.g. should it be critical to have empty methods?
- Is it part of the review to check e.g. if certain parts changed to the worse (e.g. code coverage)?
- Is SonarQube used to assign people to request changes in the code? Or comments only on GitHub?
